html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #FDFAF0;
    color: #622C1C;
}

@font-face {
    font-family: "nicholas";
    src: url(../typos/Nicholas\ Regular.ttf);
}

@font-face {
    font-family: "quick-remarks";
    src: url(../typos/Quickremarksdemo-WyDW9.ttf);
}

@font-face {
    font-family: "anonymous";
    src: url(../typos/AnonymousPro-Regular.ttf);
}

h1{
    font-size: 72px;
    font-family: "quick-remarks";
}

h3{
    position: relative;
    top: -50px;
    font-size: 30px;
    font-family: "nicholas";
}

p{
    font-size: 25px;
    font-family: "nicholas";
}

a{
    color: #622C1C;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: #ff7657;
}





/* Header */
header{
    width: 100%;
    background-color: #F1A492 ;
    border-bottom: 2px solid #622C1C;
    font-family: "nicholas" ;
    text-transform: uppercase;
    font-size: 30px;
    position: fixed;
    z-index: 999;
    
}

nav{
    margin: 0 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partie-gauche{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.partie-droite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.partie-droite img{
    height: 50px;
}

.boutons-fenetre{
    display: flex;
    align-items: center;
}

.monogramme-charlotte{
    display: flex;
    align-items: center;
    height: 50px;
}







.element{
    position: absolute;
    height: 500px;
    z-index: 101;
}

#graines-marron-gros{
    z-index: 102;
    top: 430px;
    right: -80px;
    height: 200px;
}

#flaque-caramel{
    z-index: 101;
    top: 520px;
    right: -190px;
    height: 400px;
}

#feuille{
    z-index: 101;
    top: 525px;
    right: -190px;
    height: 420px;
    transform: rotate(-98deg);
}

#feuille-apropos{
    z-index: 101;
    top: 100px;
    right: -190px;
    height: 420px;
    transform: rotate(-85deg);
}

#feuille-cv{
    z-index: 101;
    top: 100px;
    left: -160px;
    height: 420px;
    transform: rotate(110deg);
}

#flaque-rose{
    z-index: 101;
    top: 640px;
    left: -170px;
    height: 450px;
}

#graines-marron{
    z-index: 102;
    top: 720px;
    left: -70px;
    height: 250px;
}

#petales-roses{
    z-index: 102;
    top: 100px;
    left: -90px;
    height: 250px;
}





#triples-etoiles-portfolio{
    z-index: 102;
    top: 100px;
    right: -90px;
    height: 300px;
}



#flaque-caramel-portfolio{
    z-index: 102;
    top: 500px;
    left: -150px;
    height: 300px;
}

#graines-marron-portfolio{
    z-index: 102;
    top: 500px;
    left: -50px;
    height: 250px;
}

.boutons{
    margin-bottom: 50px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* bottom: 50px; */
    left: 75%;
    z-index: 999;
}

.bouton a{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: "anonymous";
    padding: 5px 20px;
    border: 2px solid #622C1C;
}

.bouton a:hover{
    border: 2px solid #F1A492;
}

.fleche-droite{
    height: 20px;
    margin-right: 10px;
}

.fleche-gauche{
    height: 20px;
    margin-right: 10px;
    transform: rotate(180deg);
}













/* portfolio main page */

.titre-portfolio{
    margin: 80px auto;
    text-align: center;
}

.bloc-galerie-travaux{
    margin: auto;
    width: 90%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 400px);

}

.bloc-travail{
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    transition: transform 0.1s;
}

.bloc-travail:hover{
    transform: scale(1.05);
}

.bloc-travail a{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.bloc-travail img{
    object-fit: cover;
    width: 100%;
    height: 250px;

}









.bloc-bouton-portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1900px;
    right: 200px;
    z-index: 900;
}

.anneau-etoiles-portfolio{
    position: absolute;
    height: 250px;
}

.bouton-portfolio{
    font-family: "nicholas";
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 901;
    cursor: pointer;
}

.bouton-portfolio:hover{
    text-decoration: underline #F1A492;
}