html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDFAF0;
    color: #622C1C;
}

@font-face {
    font-family: "nicholas";
    src: url(../typos/Nicholas\ Regular.ttf);
}

@font-face {
    font-family: "quick-remarks";
    src: url(../typos/Quickremarksdemo-WyDW9.ttf);
}

@font-face {
    font-family: "anonymous";
    src: url(../typos/AnonymousPro-Regular.ttf);
}

h1{
    font-size: 72px;
    font-family: "quick-remarks";
    text-transform: uppercase;
}

h3{
    position: relative;
    top: -50px;
    font-size: 30px;
    font-family: "nicholas";
}

p{
    font-size: 25px;
    font-family: "nicholas";
}

a{
    color: #622C1C;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: #ff7657;
}


/* Header */
header{
    width: 100%;
    background-color: #F1A492 ;
    border-bottom: 2px solid #622C1C;
    font-family: "nicholas" ;
    text-transform: uppercase;
    font-size: 30px;
    position: fixed;
    z-index: 999;
    
}

nav{
    margin: 0 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partie-gauche{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.partie-droite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.partie-droite img{
    height: 50px;
}

.monogramme-charlotte{
    display: flex;
    align-items: center;
    height: 100px;
}

.bg-un{
    width: 100%;
    position: absolute;
    top: -115px;
    z-index: 100;
}

.element{
    position: absolute;
    height: 500px;
    z-index: 101;
}

#graines-marron-gros{
    z-index: 102;
    top: 430px;
    right: -80px;
    height: 200px;
}

#flaque-caramel{
    z-index: 101;
    top: 520px;
    right: -190px;
    height: 400px;
}

#feuille{
    z-index: 101;
    top: 525px;
    right: -190px;
    height: 420px;
    transform: rotate(-98deg);
}

#feuille-apropos{
    z-index: 101;
    top: 100px;
    right: -190px;
    height: 420px;
    transform: rotate(-85deg);
}

#flaque-rose{
    z-index: 101;
    top: 640px;
    left: -170px;
    height: 450px;
}

#graines-marron{
    z-index: 102;
    top: 720px;
    left: -70px;
    height: 250px;
}

#petales-roses{
    z-index: 102;
    top: 100px;
    left: -90px;
    height: 250px;
}

.animation-charlotte{
    position: absolute;
    width: 100vw;
}



/* Partie a propos */


.bloc-apropos{
    
    position: absolute;
    top: 150px;
    left: 5%;
    margin: auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.photo-profil{
    height: 400px;
}

.bloc-texte{
    width: 60%;
    text-align: center;
}

.bouton-cv{
    position: absolute;
    top: 750px;
    right: 250px;
    font-family: "nicholas";
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: underline;
}

.boutons{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 50px;
    right: 10%;
    z-index: 999;
}

.bouton a{
    font-size: 20px;
    font-family: "anonymous";
    padding: 5px 20px;
    border: 2px solid #622C1C;
}

.bouton a:hover{
    border: 2px solid #F1A492;
}

